/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Alata');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@600&display=swap');

// my colors
$my-pink: #FF00FF;
$my-blue: #31bae9;  
$my-link-blue: #0071BC; // #0077b5; #005893
$my-cyan: #31BAE9;
$my-magenta: #E83E8C;
$violet: #9753B8;
$my-heart: #72cbe8;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;   /* rgba(52, 58, 64, 1) */
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2780e3  !default; /* */
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #ffc107 !default;
$green:   #3fb618 !default;
$teal:    #20c997 !default;
$cyan:    #9954bb !default;

$primary:       $white !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;

$min-contrast-ratio:   2.6 !default;


// use Lato font if available

$font-family-sans-serif:  "Segoe UI", "Open Sans", Lato, -apple-system, BlinkMacSystemFont,  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family:  'Alata', 'Open Sans', 'Roboto', 'Playfair Display', 'Montserrat'    !default;
$headings-font-weight:   500;    //keep this!

$body-color: $gray-800;

// Quickly modify global styling by enabling or disabling optional features.
$enable-shadows:              false !default;
$enable-smooth-scroll:        true !default;

// Links
$link-color:              $my-link-blue !default;  
$link-decoration:         none !default;
$link-hover-decoration:   underline !default;

// Code
$code-bg:                 $gray-100 !default;  
// $code-color:              $my-magenta !default;

// Code Blocks
$code-block-bg:           $gray-100 !default;
$code-block-border-left:  #31BAE9 !default;  
$code-block-border-left-size: 3px !default;
$code-block-padding-left: -0.1em !default;
$code-block-bg-padding:   0.7em !default; 


// Navbar
$navbar-hl:                   $my-pink !default;  // #e066ff MediumOrchid1
$sidebar-fg:                  $gray-800 !default;
$navbar-dark-hover-color:     #9753B8 !default;
$navbar-light-hover-color:    #9753B8 !default; 

// paragraph
$paragraph-margin-bottom:     1.0rem !default;  /* default is 1rem*/

$spacer: 1rem !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2.25 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;


// footer
$blockquote-footer-color:     $gray-800 !default;
$blockquote-footer-font-size: 14px !default;


/*-- scss:rules --*/

// litera is serif by default: revert to san-serif
p {
  font-family: $font-family-sans-serif;
  font-size: 1.0rem;
  font-weight: 400;
  text-shadow: none;
}

b, strong {
  font-weight: 600;
}

// Navs

.navbar-brand {
  font-family: "Alata"; 
  font-size: 1.0rem;
  font-weight: 500;
  color: #000;
  margin-top: 0px;  // 0px if litera is specified in _quarto.yml
// Navbar

}

.navbar {
  font-family: "Alata";
  font-size: 1.0rem;
  font-weight: 500;
  color: #000;;
}

h5.quarto-listing-category-title {
  font-family: "Segoe UI"; 
  font-size: 14px;
  text-transform: uppercase;
}

#quarto-margin-sidebar .quarto-listing-category {
  font-size: 16px;  
  line-height: 26px;
}

// Logo padding - keep
a.navbar-brand.navbar-brand-logo {
  margin-right: 15px;
}

nav.navbar.navbar-expand-lg.navbar-dark {
  margin-bottom: 20px;
}

/* keep */ 
#title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract {
    margin-top: 10px;
    font-size: 22px;
}

// sidebar
.sidebar {
  font-family: "Open Sans"; 
} 

.sidebar nav[role=doc-toc]>h2, .sidebar nav[role=doc-toc]>.h2 {
  font-weight: 600;    
}

.sidebar nav[role=doc-toc]>ul li a {
  font-size: 14px;
}

#quarto-margin-sidebar {
  margin-left: 20px; 
}


// table
.table {
  --bs-table-striped-bg: $white;
  width: 100%;
  font-size: 18px;
}


// footer
.nav-footer {
  min-height: 5rem;
  font-size: 18px;
  line-height: 28px;
  color: $gray-800;
  margin-top: 50px;
}

body:not(.floating) .nav-footer {
  Border-top: $white; 
}

// margin beneath h3
h3, .h3 {
  /* margin-top: 4rem;  -- no effect */
  margin-bottom: 1rem;
}

// keeper
.quarto-title-banner .quarto-title .title {
    font-weight: 500;
}

// about
#title-block-header > div.quarto-title > h1 {
  font-size: 32px;
}